<div class = "all-body">
  <div class = main>
    <h2>編集</h2>
    <%= form_for(current_user) do |f| %>
      <%# <%= render "devise/shared/error_messages", resource: resource %> 

      <div class="form-group">
        <%= f.label :nickname, "ニックネーム",class:"label-name" %><br />
        <%= f.text_field :nickname, autofocus: true, class:"form-control",autocomplete: "nickname" %>
      </div>

      <div class="form-group">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :avatar, "アバター画像" %><br />
        <%= f.file_field :avatar, autofocus: true, autocomplete: "avatar",class:"file-filed" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード再入力" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>      
        <%= f.submit "登録する", class:"new-registration-btn" %>
    <% end %>
  </div>
</div>

