<div class = "show-all">
  <div class = "show-main">
    <div class = "show-main__left">
      <div class = show-main__left__avatar">
        <%= image_tag(@user.avatar_url, class: "show-main__left__avatar__image") %>
      </div>
      <div class = "show-main__left__nickname" >
        <%= @user.nickname %>
      </div>
    </div>

    <div class = "show-main__right">
      <% @user ||= current_user %>
      <div class="stats">
        <%= link_to following_user_path(@user), class:"following-link" do %>
          <span class = "following-count"><%= @user.following.count %> 
          フォロー
          </span>
        <% end %>
        <%= link_to followers_user_path(@user), class:"followers-link" do %>
          <span class = "followers-count"><%= @user.followers.count %>
          フォロワー
          </span>
        <% end %>
      </div>
      
      <div class = "follow-btn">
        <%= render 'follow_form' if user_signed_in? && @user.id != current_user.id %>
      </div>
    </div>
  </div>

  <div class = "container">
    <% @user.posts.each do |post| %>
      <div class = "col-md-4 main-content">
        <div class = "post-title">
          <%= post.title%>
        </div>
        <div class="content-image">
          <%= image_tag post.image_url,class:"index-image" %>
        </div>
      </div>
    <% end %>
  </div>
</div>