<div class = "all-body">
  <div class = "details ">
    <%= link_to  "/users/#{@post.user_id}", method: :get, class:"contributor" do %>
      <%= image_tag @post.user.avatar_url, class:"post-avatar" %>
      <span class = "contributor-nickname"><%= @post.user.nickname %></span>
    <% end %>
    <div class = "contents">
      <div class = "main-title">
        <%= @post.title%>
      </div>
      <%= image_tag @post.image_url, class:"main-image" %>
      <div class = "main-content">
        <%= @post.content%>
      </div>
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <%= link_to "投稿を編集",edit_post_path(@post.id),class:"post-edit" %>
        <%= link_to "投稿を削除",post_path(@post.id), method: :delete,class:"post-delete" %>
      <% end %>
    </div>
  </div>
</div>