<div class = "details">
  <div class = "main-title">
    <%= @post.title%>
  </div>
  <div class = "main-image">
    <%= image_tag @post.image_url %>
  </div>
  <div class = "main-content">
    <%= @post.content%>
  </div>
  <div>
    <%= link_to  "/users/#{@post.user_id}", method: :get do %>
      <div class="content-title">
        <%= @post.user.nickname %>
      </div>
      <div class="content-image">
        <%= image_tag @post.user.avatar_url %>
      </div>
    <% end %>
  </div>
</div>