<!DOCTYPE html>
<html>
  <head>
    <title>Favoritepost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bilbo|Dancing+Script|Gloria+Hallelujah|Permanent+Marker|Yellowtail&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/notifications' %>
    <div class = "header">
      <div class = "header__left">
        <h1><%= link_to 'Favorite Post', root_path ,class:"app-title" %></h1>
      </div>
      <div class = "header__right">
        <% if user_signed_in? %>
          <%= link_to current_user.nickname, "/users/#{current_user.id}",class:"login-user" %>
          <%= link_to "投稿", new_post_path, class: "post-btn" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "login-btn" %>
          <%= link_to "新規登録", new_user_registration_path, class: "registration-btn" %>
        <% end %>
      </div>
    </div>

      <%= yield %>

  </body>
</html>
